{% extends 'base.html' %}

{% block app_content %}
<h1>Log Your Finished Book</h1>
<form name="form" action="" method="post">
  {{ form.hidden_tag() }}
Title
  <p>{{ form.title }}</p>
Author
  <p>{{ form.author }}</p>
Date Finished
  <p>{{ form.date }}</p>

  <p>{{ form.submit() }}</p>
</form>
<h1>Completed Books</h1>
<table class='table'>
  <tr>
    <th scope='col'>#</th>
    <th scope='col'>Title</th>
    <th scope='col'>Author</th>
    <th scope='col'>Date Finished</th>
  <tr>
{% for book in books %}
  <tr>
    <td scope='row'>{{ loop.index }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.date }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
