{% extends 'base.html' %}

{% block app_content %}
  <h1>Hello {{ current_user.username }}</h1>
  {% if d1 == d2 %}
  <p>It is <b>{{ d1 }}</b><br>
    Here are your habits for today:</p>
  {% else %}
  <p>Today is <b>{{ d1 }}</b></p>
  <p>Displaying habits for <b>{{ d2 }}</b></p>
  {% endif %}

{% if not days_habits %}
  <a href="{{ url_for('main.create') }}">Create a habit</a>
{% else %}
<form name="hform" action="" method="post">
  {{ hform.hidden_tag() }}

  <p>
  {{ hform.habits }}
  </p>

  <p>{{ hform.submit() }}</p>
</form>
{% endif %}

<form name="sdform" action="" method="post">
  {{ sdform.hidden_tag() }}
  <p>
  {{ sdform.select_date }}
  </p>

  <p>{{ sdform.submit() }}</p>
</form>

{% endblock %}
