{% extends 'base.html' %}

{% block app_content %}

<h3>Select Date Range</h3>

<form name="form" action="" method="post">
  {{ form.hidden_tag() }}
Start
  <p>{{ form.start }}</p>
End
  <p>{{ form.end }}</p>
  <p>{{ form.submit() }}</p>
</form>

<table class='table table-bordered'>
  <tr>
  <th scope='column' >Habits</th>
  {% for date in dr %}
  <th scope='column'>{{ date }}</th>
  {% endfor %}
  </tr>

  {% for habit in h %}
  <tr>
    <td scope='row'>{{ habit.habit }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
